---
import HeadingTitles from "../Heading-Titles/Heading-Titles.astro";
import './giftlist.css'
---

<HeadingTitles heading="Mesa de Regalos" />
<section class="container giftlist">
	<section class="giftlist_description">
		<p>Contar con su presencia este día tan especial sería para nosotros el mejor regalo. Pero si además desean regalarnos algo, les dejamos estas sugerencias:</p>
	</section>
	<section class="giftlist_amazon">
		<h3>Mesa de Regalos de Liverpool</h3>
		<p>Puedes elegir un regalo de nuestra lista.</p>
		<a class="button" href="https://mesaderegalos.liverpool.com.mx/" target="_blank">Ver mesa de regalos</a>
	</section>
	
</section>