---
import HeadingTitles from "../Heading-Titles/Heading-Titles.astro";
import './giftlist.css'
---

<HeadingTitles heading="Mesa de Regalos" />
<section class="container giftlist">
	<section class="giftlist_description">
		<p>Contar con su presencia este día tan especial sería para nosotros el mejor regalo. Pero si además desean regalarnos algo, les dejamos estas sugerencias:</p>
	</section>
	<section class="giftlist_columns">
		<section class="giftlist_columns__column">
			<h3>Certificado de regalo de Amazon </h3>
			<p> Puedes crear el certificado de regalo por la cantidad que gustes. </p>
			<a class="button" href="www.amazon.com">Crear certificado de regalo</a>
		</section>
		<section class="giftlist_columns__column">
			<h3>Apoyo en efectivo</h3>
			<p>Si lo prefieres, puedes darnos un apoyo en efectivo haciendo una transferencia a esta cuenta:</p>
			<table class="table">
				<thead>
					<tr>
						<th>Banco</th>
						<th>Santander</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>Nombre</td>
						<td>Caissa Palomino</td>
					</tr>
					<tr>
						<td>Cuenta CLABE</td>
						<td>002813700364334402</td>
					</tr>
					<tr>
						<td>Número de tarjeta</td>
						<td>5204 1672 6608 1199</td>
					</tr>
				</tbody>
			</table>
		</section>
	</section>
	
</section>