---

import Timer from '../Timer/Timer';
import './hero.css'
---

<section class="hero">
	<section class="hero_picture">
		<img class="feature_image" src="https://live.staticflickr.com/65535/52818800629_05a9a789c6_k_d.jpg" alt="">
		<h1 class="container">Arnulfo & Caissa</h1>
	</section>
	<section class="hero_date container">
		<section class="hero_date_text">
			<p class="small">Apúntele bien.</p>
			<p class="save_the_date">Domingo <span class="text_bold">19</span> <span class="text_bold">Noviembre</span></p>
		</section>
		<picture class="hero_image">
			<img class="hero_image__front" src="/images/ring.gif" alt="">
			<img class="hero_image__back" src="https://live.staticflickr.com/65535/52815852952_65c9fc4d7c_w_d.jpg" alt="">
		</picture>
		<Timer client:only="react" />
	</section>
</section>