.feature_image{
	height: 50dvh;
	width: 100%;
	aspect-ratio: auto;
	overflow: hidden;
	object-fit: cover;
	margin-top: 0;
	object-position: 50% 30%;
	background-color: #33CCCC;
}

.hero_picture {
	position: relative;
	height: 50dvh;
	display: grid;
}

.hero_picture h1 {
	position: absolute;
	justify-self: center;
	align-self: center;
	color: #d99e08;
	text-shadow: black 10px 8px 16px;
	margin: 0;
}

@media screen and (max-width: 666px) {
	.feature_image {
		object-position: 50% 50%;
	}
	.hero_picture h1 {
		margin-top: 4rem;
	}
}

.hero_date {
	height: 50dvh;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(2, auto);
	grid-template-areas: 'TEXT GIF'
						 'TIMER TIMER';
	justify-content: center;
	align-items: center;
	gap: 0 4rem;
}

.hero_image__front {
	height: 69%;
	border-radius: 1rem;
}

.hero_date_text {
	grid-area: TEXT;
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	max-width: 200px;
    justify-self: end;
}

.save_the_date {
	font-size: 32px;
	display: grid;
	justify-content: center;
	align-items: center;
	grid-template-columns: repeat(2, auto);
	grid-template-rows: repeat(2, auto);
	gap: 0.1rem;
}

.hero_image {
	grid-area: GIF;
	height: 40dvh;
	display: flex;
	justify-content: center;
	align-items: center;
    justify-self: center;
}

.hero_date_timer {
	grid-area: TIMER;
	height: 10dvh;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	justify-content: center;
	align-items: center;
}


/* 3D Flip animation */

.hero_image {
	position: relative;
	left: 1rem;
	transform-style: preserve-3d;
	transition: all 1.0s linear;
}

.hero_image:hover {
	transform: rotateY(180deg);
}

.hero_image:hover .hero_image__front {
	opacity: 0;
}

.hero_image:hover .hero_image__back {
	opacity: 1;
}

.hero_image__front {
	opacity: 1;
	transition: opacity 1s linear;
	position: absolute;
	backface-visibility: hidden;
	z-index: 1;
} 

.hero_image__back {
	opacity: 0;
	transition: opacity 1s linear;
	border-radius: 1rem;
	height: 69%;
	transform: rotateY(180deg);
}

@media screen and (max-width: 666px) {
	.hero_date {
		gap: 0 1rem;
	}

	.hero_image__front, .hero_image__back {
		height: 42%;
	}
}

@media screen and (max-width: 375px) {
	.hero_date {
		display: grid;
		grid-template-columns: repeat(1, 1fr);
		grid-template-rows: repeat(3, auto);
		grid-template-areas: 'GIF'
							 'TEXT'
							 'TIMER';
		gap: 0.4rem;
	}

	.hero_image__front, .hero_image__back {
		height: 69%;
	}

	.hero_image, .hero_date_text {
		justify-self: center;
	}

	.hero_image {
		height: 20dvh;
	}
	.hero_date_text {
		height: 10dvh;
	}
	.hero_date_timer {
		height: 20dvh;
	}
}