---

import Timer from '../Timer/Timer';
import './hero.css'
---

<header class="hero">
	<section class="hero_picture">
		<img class="feature_image" src="images/hero.jpeg" alt="">
		<h1 class="container">Oyuky & Daniel</h1>
	</section>
	<section class="hero_date container">
		<section class="hero_date_text">
			<p class="save_the_date">Martes <span class="text_bold">23</span> <span class="text_bold">Diciembre</span></p>
			<p class="save_the_date">2025</p>
		</section>
		<picture class="hero_image">
			<img class="hero_image__front" src="/icons/ring.svg"></i>
		</picture>
		<Timer client:only="react" />
	</section>
</header>