---
import HeadingTitles from '../Heading-Titles/Heading-Titles.astro';
import './reception.css'
---

<HeadingTitles heading="Recepci칩n" />
<section class="reception container">
	<address class="reception_address">
		<h3>Playa</h3>
		<p>Ubicaci칩n Pendiente</p>
		<p>Mazatl치n, Sinaloa, MX</p>
		<br />
		<h3>Finca Buenos Aires</h3>
		<p>Cedros 19206, Fraccionamiento Pradera Dorada, CP 82136</p>
		<p>Mazatl치n, Sinaloa, MX</p>
	</address>
	<section class="reception_map">
		<iframe src="https://www.google.com/maps/d/embed?mid=1zyiDVdwWATuSM5wU5sgX6gBsk9nkF18&ehbc=2E312F" width="100%" height="480"></iframe>
	</section>
	<section class="dressing_code">
		<h3>Regla de etiqueta:</h3>
		<p>Mujeres: Vestido largo. Prohibido vestir color rojo, blanco, negro y plata; eviten negar acceso.</p>
		<p>Hombres: Vestimenta Formal.</p>
	</section>
</section>