---

import HeadingTitles from '../Heading-Titles/Heading-Titles.astro';
import ConfirmationForm from "./ConfirmationForm/ConfirmationForm";
import './confirmation.css'
---

<HeadingTitles heading="Confirmar asistencia" />
<section class="confirmation container">
	<ConfirmationForm client:only="react"/>
	<section class="confirmation_image">
		<img class="confirmation_gif" src="/icons/wedding-date.svg"></img>
	</section>
		<p class="small">La confirmación se enviará por WhatsApp a la coordinadora: Lourdes Loo.</p>
	</section>
</section>