<h1>Título 1</h1>
<h2>Título 2</h2>
<h3>Título 3</h3>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut doloremque ad ab minima quasi, nulla accusamus harum incidunt earum? Cumque quibusdam quaerat libero laborum accusantium vero recusandae alias iste neque?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aut doloremque ad ab minima quasi, nulla accusamus harum incidunt earum? Cumque quibusdam quaerat libero laborum accusantium vero recusandae alias iste neque?</p>
<p class="small">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Culpa itaque, aut soluta iure incidunt deleniti maiores tempore saepe exercitationem fugiat ex adipisci eos modi quas corrupti dolor, cupiditate temporibus ut.</p>
<a href="#">Ejemplo de Link</a>
<a href="#">Ejemplo de link boton</a>
<button type="button">Ejemplo de boton</button>