---
import HeadingTitles from '../Heading-Titles/Heading-Titles.astro';
import './story.css'
---

<HeadingTitles heading="Nuestra historia" />
<section class="story container">
	<article class="story_cards">

		<section class="card">
			<picture>
				<img class="story_gif" src="/icons/ring-hand.svg"></img>
			</picture>
			<h3>Nuestro compromiso</h3>
			<p>Este año 2025 decidimos casarnos y sellar nuestro amor y ser felices juntos hasta la eternidad.</p>
		</section>

	</article>
</section>