---
import HeadingTitles from '../Heading-Titles/Heading-Titles.astro';
import './story.css'
---

<HeadingTitles heading="Nuestra historia" />
<section class="story container">
	<article class="story_cards">
		<section class="card">
			<picture>
				<img class="story_gif" src="/images/tudor.gif" alt="">
			</picture>
			<h3>Nuestro noviazgo</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt metus eget lorem ultrices dictum. Quisque in quam lectus.</p>
		</section>

		<section class="card">
			<picture>
				<img class="story_gif" src="/images/ring-hand.gif" alt="">
			</picture>
			<h3>Nuestro compromiso</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt metus eget lorem ultrices dictum. Quisque in quam lectus.</p>
		</section>

		<section class="card">
			<picture>
				<img class="story_gif" src="/images/marriage.gif" alt="">
			</picture>
			<h3>Nuestra boda</h3>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tincidunt metus eget lorem ultrices dictum. Quisque in quam lectus.</p>
		</section>
	</article>
</section>