:root {
	/* --main-color: #33CCCC; */
	--main-color: silver;
	--accent-color: #D22B2B;

	--error-background: #ffe5e5;
	--error-text: #ac0000;
	--timer-background: #ffe5e5;

	--black: #000000;
	--white: #FFFFFF;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body, html {
	font-size: 20px;
	font-family: 'Montserrat', Arial, Helvetica, sans-serif;
	font-weight: 400;
	text-align: left;
}

h1 {
	font-family: 'Great Vibes', 'Times New Roman', Times, serif;
	font-size: 3.8rem;
	text-align: center;
}
h2 {
	font-weight: 700;
	font-size: 1.6rem;
}
h3 {
	font-weight: 600;
	font-size: 1.2rem;
}
p, button, a, input, textarea, form, label {
	font-weight: 300;
	font-size: 1rem;
}

.small, .small a  {
	font-weight: 300;
	font-size: 0.6rem;
}

.text_bold {
	font-weight: 700;
}

.container {
	max-width: 1040px;
	margin: 0 auto;
	margin-bottom: 2rem;
	padding: 0 1rem;
}

button.button,
a.button {
	background-color: var(--accent-color);
	color: var(--white);
	font-weight: 600;
	text-align: center;
	text-decoration: none;
	padding: 0.4rem 1.2rem;
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	border-radius: 0.2rem;
	transition: all 0.2s;
}

input, textarea {
	transition: all 0.2s;
}

input[type=text], textarea {
	padding: 0.4rem 1.2rem;
	border-style: solid;
	border-color: var(--black);
	border-width: 1px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 0.2rem;
	width: 100%;
}

input[type=text]:focus, textarea:focus {
	outline-offset: 0.1rem;	
}

button.button:hover,
a.button:hover {
	background-color: var(--error-text);
}

button.button:focus,
a.button:focus,
a.link:focus {
	outline-offset: 0.1rem;
}

a.link {
	color: var(--main-color);
}

a.link_dark {
	color: var(--black);
}

a.link:hover {
	color: var(--accent-color);
}

a.link_dark:hover {
	color: var(--white);
}

ul {
	list-style: disc inside;
}

ol {
	list-style: decimal inside;
}

ul > ul,
ul > ol,
ol > ol,
ol > ul {
	margin-left: 1rem;
}

table.table,
table.table td,
table.table th,
table.table tr {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	overflow: auto;
}

table.table td,
table.table th {
	padding: 0.2rem;
}

table.table td:first-child,
table.table th:first-child {
	text-align: right;
	width: 50%;
	padding-right: 1rem;
}

table.table td:last-child,
table.table th:last-child {
	text-align: left;
	width: 50%;
	padding-left: 1rem;
}

table.table th {
	font-weight: 600;
}

@media screen and (max-width: 700px) {
	table.table td:first-child,
	table.table th:first-child {
		padding-right: 0.5rem;
	}

	table.table td:last-child,
	table.table th:last-child {
		padding-left: 0.5rem;
	}
}

@media screen and (max-width: 400px) {
	.giftlist_cardTransfer table.table tr{
		display: flex;
		flex-direction: column;
	}
	
	.giftlist_cardTransfer table.table tr > *{
		width: auto;
		padding: 0.3rem;
		text-align: left;
	}

	table.table thead,
	table.table tbody,
	table.table tr {
		border: none;
	}
	
}