---
import './reset.css'
import './index.css'

import { GoogleFontsOptimizer } from "astro-google-fonts-optimizer";
import Typography from '../components/Typography/Typography.astro';
import Hero from '../components/Hero/Hero.astro';
import Footer from '../components/Footer/Footer.astro';

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Arnulfo y Caissa</title>

		<GoogleFontsOptimizer url="https://fonts.googleapis.com/css2?family=Great+Vibes&family=Montserrat:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&display=swap">
    	</GoogleFontsOptimizer>
	</head>
	<body>
		<section>
			<Hero />

			<Typography />

			<Footer />
		</section>
	</body>
</html>
