---
import HeadingTitles from '../Heading-Titles/Heading-Titles.astro';
import './horarios.css'
---

<HeadingTitles heading="Horarios" />
<section class="horarios container">
	
	<article class="horarios_cards">
		<section class="card">
			<h3>Ceremonia Civil - Playa</h3>
			<p>5:00pm</p>
		</section>

		<section class="card">
			<h3>Recepción - Finca</h3>
			<p>7:30pm</p>
		</section>
	</article>
</section>