.gallery_massonry {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 0.1rem;
	margin: 4rem 0 6rem 0;
}

.gallery_image {
	max-width: 100%;
	aspect-ratio: 1/1;
	object-fit:cover;
	height: 400px;
}

@media screen and (max-width: 666px) {
	.gallery_massonry {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 400px) {
	.gallery_massonry {
		grid-template-columns: repeat(1, 1fr);
	}
}

.gallery_link {
	display: flex;
	justify-content: stretch;
	align-content: stretch;
	align-items: stretch;
}