---
import HeadingTitles from '../Heading-Titles/Heading-Titles.astro';
import 'photoswipe/style.css';
import './gallery.css'

const pictures = ['/images/corazones.jpeg',
'/images/foto1.jpeg',
'/images/hero.jpeg',
'/images/pareja1.jpeg',
'/images/pareja2.jpeg',
'/images/pedidademano1.jpeg',
'/images/pedidademano2.jpeg',
'/images/pedidademano3.jpeg',
'/images/pedidademano4.jpeg',
'/images/pedidademano5.jpeg']
---


<HeadingTitles heading="Galería" />
<section class="gallery container">
	<picture class="gallery_massonry" id="my-gallery">
		{pictures.map((image: string) => {
			return <a 
			class="gallery_link" 
			href={image}
			target="_blank" 
			data-pswp-width="1669" 
			data-pswp-height="2500" >
			<img class="gallery_image" src={image} alt="" loading="lazy">
		</a>
		})}
	</picture>
</section>

<script>
	import PhotoSwipeLightbox from 'photoswipe/lightbox';
	const lightbox = new PhotoSwipeLightbox({
		gallery: '#my-gallery',
		children: 'a',
		pswpModule: () => import('photoswipe')
	});
	lightbox.init();
</script>