---
import './footer.css'
---

<footer class="footer">
	<section class="container">
		<p class="small">Diseñado y desarrollado por:</p> 
		<p class="small text_bold"><a class="link link_dark" href="https://arnulfo.dev">Arnulfo Loredo</a></p>
		<p class="small">
			<a class="link link_dark" href="https://www.flaticon.com/free-animated-icons/flower" title="animated icons" target="_blank">Animated icons created by Freepik - Flaticon</a>
		</p>
		<p class="small">Copyright <span class="">@2025</span></p>
	</section>
</footer>