---
import './footer.css'
---

<footer class="footer">
	<section class="container">
		<p class="small">Diseñado y desarrollado por:</p> 
		<p class="small text_bold"> Caissa Palomino y Arnulfo Loredo</p>
		<p class="small">Copyright <span class="">@2023</span></p>
	</section>
</footer>